<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                   <string>http://w2mes.csc.com.tw/w2mes/XF_SLWR.iOS.ipa</string>
                </dict>
 		<dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>url</key>
                    <string>http://w2mes.csc.com.tw/w2mes/Icon-57.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>url</key>
                    <string>http://w2mes.csc.com.tw/w2mes/Icon-512.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.csc.y6p.appWR</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>¤¤¿û¾Ô±¡APP</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>